{% extends 'layouts/logged.twig' %}

{% block title %}Edit account{% endblock %}

{% block content %}
    <h2>Edit profile</h2>

    <form action="{{ path('actions.account.edit') }}" method="post">
        <div>
            First name:
            <input name="first_name" value="{{ app.user.getFirstName() }}">
        </div>
        <div>
            Last name:
            <input name="last_name" value="{{ app.user.getLastName() }}">
        </div>
        <div>
            Biography:
            <textarea name="bio">{{ app.user.getBioOrNull() }}</textarea>
        </div>
        <button type="submit" style="margin-top: 5px;">
            Save
        </button>
    </form>

    <hr style="width: 500px; margin-left: 0">

    <form action="{{ path('actions.account.create-avatar') }}" method="post" enctype="multipart/form-data">
        <div>
            Avatar:
            <input type="file" name="avatar">
        </div>
        <button>
            Change avatar
        </button>
    </form>
{% endblock %}
